<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Not Found</title>
	<link rel="stylesheet" href="/css/markup.css" type="text/css">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>

<div id="main">
	<div class="formatted">
		<div id="formatted">
			<h2>Not Found</h2>
			<p>The document you're looking for does not exist.</p>
			<a href="/">Make a new document →</a>
		</div>
	</div>
</div>
</body>
</html>
