<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>{{{title}}}</title>
	<link rel="stylesheet" href="/css/markup.css" type="text/css">
	<link rel="stylesheet" href="/css/chrome.css" type="text/css">
</head>

<body>

<nav id="mobile">
	<div class="left">
		<a href="/">Proser</a>
	</div>
	<div class="right">
		<a id="edit" href="#">Edit</a>
	</div>
</nav>

<nav id="full">
	<div class="left">
		<a href="/">Proser</a>
	</div>
	<div class="right">
		<a href="/{{{token}}}/download?format=markdown"><img src="/img/download.svg" alt="Download"> Markdown</a>
		<a href="/{{{token}}}/download?format=html"><img src="/img/download.svg" alt="Download"> HTML</a>
	</div>
</nav>

<div id="main">
	<div class="raw">
		<textarea id="text" placeholder="It was a dark and stormy night...">{{{raw}}}</textarea>
	</div>

	<div class="formatted">
		<div id="formatted">{{{formatted}}}</div>
		<footer>
			<span id="timestamp">{{{updatedAt}}}</span>
		</footer>
	</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/marked.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
