html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

@media (max-width: 768px) {
	body.editing .raw {
		display: block;
	}
	body.editing .formatted {
		display: none;
	}
	.raw {
		display: none;
	}
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 1px 3px #ccc;
	z-index: 2;
}
	nav > div {
		padding: 0 15px;
		flex: 1;
	}
	nav a:link,
	nav a:visited {
		color: #0288d1;
		border: none;
	}
	#full .right a:link,
	#full .right a:visited {
		font-size: 14px;
	}
	nav img {
		vertical-align: middle;
	}
	.right {
		text-align: right;
	}

	#mobile {
		display: none;
	}

	#full .right a {
		margin-left: 10px;
	}

@media (max-width: 768px) {
	#full { display: none; }
	#mobile { display: flex; }
}


#edit {
	text-decoration: none;
	border: none;
	color: #78909c;
}

#main {
	background-color: #fff;
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
}

	#main > div {
		min-width: 50%;
		height: 100%;
		flex-grow: 1;
	}

.formatted {
	overflow-y: scroll;
}

.raw {
	background-color: #fff;
	border-right: 1px solid #CFD8DC;
}
	@media (max-width: 768px) {
		.raw { 
			border-right: none; 
		} 
	}

#text {
	display: block;
	border: none;
	outline: none;
	padding: 40px;
	margin: 0 auto; 
	font-family: "Roboto Mono", "Source Code Pro", "Menlo", "Consolas", monospace;
	font-size: 16px;
	background-color: #fff;
	resize: none;
	white-space: pre-wrap;

	width: 100%;
	height: 100%;
}

#formatted {
	padding: 0 40px;
	max-width: 700px;
	margin: 40px 0;
}

footer {
	font-size: 14px; 
	margin-top: 50px;
	padding: 20px 40px;
}
	@media (max-width: 768px) {
		footer { padding: 20px; }
	}

::selection {
	background-color: #eceff1; 
}
::-moz-selection {
	background-color: #eceff1;
}

@media (max-width: 768px) {
	#formatted {
		padding: 0 20px; }
	#text { 
		padding: 20px; }
}
