* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Roboto", "Helvetica Neue", "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
@media (min-width: 38em) {
	html {
		font-size: 18px;
	}
}

body {
	background-color: #fff;
	color: #455a64;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

a {
	color: #0288d1; 
}

a:hover,
a:focus {
	text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.25;
	color: #263238;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
}
h2 {
	margin-top: 1rem;
	font-size: 1.5rem;
}
h3 {
	margin-top: 1.5rem;
	font-size: 1.25rem;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1rem;
}

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
	margin-top: 0; }

h1 tt, h1 code,
h2 tt, h2 code,
h3 tt, h3 code,
h4 tt, h4 code,
h5 tt, h5 code,
h6 tt, h6 code {
	font-size: inherit;
}

hr {
	position: relative;
	margin: 2rem auto;
	border: 0;
	background-color: #CFD8DC;
	height: 1px;
}


/* Lists */
ul, ol, dl {
	margin: 1rem 0; }

li { margin: 0.5rem 0; }

dt {
	font-weight: bold; }
dd {
	margin-bottom: .5rem; }

p {
	margin: 1.5rem 0;
	padding: 0;
}

/* Quotes */
blockquote {
	padding: .5rem 1rem;
	margin: .8rem 0;
	color: #546e7a;
	border-left: .25rem solid #cfd8dc; }
	blockquote p:first-child {
		padding-top: 0;
		margin-top: 0;
	}
	blockquote p:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}

@media (min-width: 30rem) {
	blockquote {
		padding-right: 5rem;
		padding-left: 1.25rem;
	}
}

/* Tables */
table {
	margin-bottom: 1rem;
	max-width: 100%;
	border: 1px solid #cfd8dc;
	border-collapse: collapse; }
	td, th {
		padding: .25rem .5rem;
		border: 1px solid #cfd8dc; }
	tbody tr:nth-child(odd) td,
	tbody tr:nth-child(odd) th {
		background-color: #f9f9f9; }

img {
	max-width: 100%; }

fieldset, img {
	border:0; }

code, tt {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	background-color: #f8f8f8; }

pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent; }

pre {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	margin: 15px 0; }
	pre code, pre tt {
		background-color: transparent;
		border: none; }

del {
	text-decoration: line-through; }

sub, sup {
	font-size:75%;
	position:relative;
	vertical-align:text-top; }

:root sub, :root sup {
	vertical-align:baseline; }

sup {
	top:-.5em; }

sub {
	bottom:-.25em; }

