html, body {
	height: 100%;
}

body {
	margin: 0 20px;
}

.top {
	min-height: 100%;
	margin: 0 auto -85px;
}

header {
	width: 100%;
	padding: 1rem;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
}

@media (max-width: 700px) {
	header { 
		position: relative;
		padding: 1rem 0; } 
}

	header h3 {
		display: inline-block;
		vertical-align: bottom;
		margin: 0; 
	}
		header .logo {
			color: #263238;
			text-decoration: none; 
		}
		header small {
			font-size: 75%;
			font-weight: 400;
			color: #fff;
			letter-spacing: 0; 
		}
		header .logo:hover small {
			color: #90a4ae; 
		}
	header #extras {
		float: right; 
	}
	header .edit {
		text-decoration: none;
		color: #78909c;
		font-size: 16px;
		display: inline-block; 
	}
		header .enabled {
			color: #c62828; 
		}
		header .enabled:before {
			content: "● "; 
			animation: pulse-text 3s linear infinite;
			-webkit-animation: pulse-text 3s linear infinite;
		}
		header .enabled:after {
			content: "ing"; 
		}
	@keyframes pulse-text {
		0%, 100% { color: #c62828; }
		50% { color: #ffebee; } 
	}
	@-webkit-keyframes pulse-text {
		0%, 100% { color: #c62828; }
		50% { color: #ffebee; } 
	}

.wrapper {
	max-width: 620px;
	margin: 0 auto; 
}

.wrapper.formatted {

}

.wrapper.raw {
	position: fixed;
	top: 0;
	left: -620px;
	bottom: 0;
	max-width: 620px;
	width: 100%;
	z-index: 4;
	padding: 0;

	background-color: #fff;
	border-right: 1px solid #aaa;
}

#timestamp {
	font-size: 14px; 
	color: #455a64;
	margin-top: 70px;
	opacity: 0.2;
}
	#timestamp:hover {
		opacity: 1;
	}

	@media (max-width: 700px) {
		#timestamp { margin-top: 20px; }
	}

#text {
	border: none;
	outline: none;
	padding: 20px;
	margin: 0 auto; 
	font-family: monospace;
	font-size: 14px;
	background-color: #fff;
	resize: none;

	width: 100%;
	height: 100%;
}

#formatted {
}

	::selection {
		background-color: #eceff1; 
	}
	::-moz-selection {
		background-color: #eceff1;
	}

footer, .push {
	height: 85px;
}

footer {
	padding: 25px 0 35px; 

	line-height: 25px;
}


	.extra {
		float: right;
	}
